*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(pexels-jatin-verma-14247658.jpg);
    /* background: url('picturesw/pexels-jatin-verma-14247658.jpg'); */
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
}

.form{
     width: 400px;
    height: auto;
    color: #b22f2f;
    font-family: 'roboto', sans-serif;
    /* position: relative;
    width: 400px;
    height: 415px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(15px); */
    /* box-shadow:0 0 30px rgba(0,0,0,.5) ;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  */
    /* overflow: hidden;
    transform: scale(0);
    transition:transform .5s ease,height .2s ease; */
}

.heading{
    /* opacity: 0;
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px; */
    font-size: 2em;
    color:#162938 ;
    text-align: center;
}

input,
.submit-btn{
    opacity: 0;
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;
}

input::placeholder{
    color: #fff;
}

input:focus,
.submit-btn:hover{
    background: #fff;
    color: #000;
}

input:focus::placeholder{
    color: #000;
}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
    opacity: 0;
}

.link{
    opacity: 0;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 30px auto;
}

.link:hover{
    color: #fff;
}

.alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto', sans-serif;
    text-align: center;
    transition: 1s;
}