*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(pexels-jatin-verma-14247658.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
}

.form{
    
    /* color: #fff; */
    font-family: 'roboto', sans-serif;
     position: relative;
    width: 400px;
    height: 415px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(15px); 
    box-shadow:0 0 30px rgba(0,0,0,.5) ;
    margin-top: 20px;
   
}

.heading{
    /* opacity: 0;
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px; */
    padding-top: 30px;
    font-size: 2em;
    color:#162938 ;
    text-align: center;
}

input,
.submit-btn{
    opacity: 0;
    width: 82%;
    height: 40px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    /* border: none; */
    color: #fff;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize; 
    position: relative;
    border-bottom: 2px solid #162938;
    /* margin: 30px 0; */
                                                
}

input::placeholder{
    color: #fff;
} 

input:focus,
.submit-btn:hover{
    background: #fff;
    color: #000;
}

input::placeholder{
    color: #000;
}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
    opacity: 0;
}

.link{
    opacity: 0;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 30px auto;
}

.link:hover{
    color: #fff;
}

.alert-box{
    /* position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto', sans-serif;
    text-align: center;
    transition: 1s; */
}
.icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #162938;
    font-size: 1.7em;
    color:#fff;
    display: flex;
    justify-content: center;
    border-top-right-radius:16px ;
    cursor: pointer;
    z-index: 1;
} 
/* .input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162936;
    line-height: 40px;
} */