<!-- <!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title> My Webpage</title>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}
	<header>
		<h2 class="logo"><img src="/static/Screenshot 2023-10-07 013106.png" alt=""></h2>
		<nav class="navigation">
			<a href="#">Home</a>
			<a href="#">Discover</a>
			<a href="#">Themes</a>
			<a href="#">Go to map</a>
			<button class="butlogin">Login</button>
		</nav>
	</header>
    
  </body>
</html> -->