<!-- 

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Auth system</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
    <div class=" row justify-content-center">
        <div class="col-sm-8">
            <h2>Home page</h2>
            <a href="/register" class="btn btn-primary mt-3">Register</a>
            <a href="/login" class="btn btn-dark mt-3">Login</a>
        </div>

    </div>
  
</div>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/loginform.css">
	<title>Document</title>
</head>
<body>
	<header>
		<h2 class="logo"><img src="/static/ 2023-10-07 013106.png" alt=""></h2>
		<nav class="navigation">
			<a href="#">Home</a>
			<a href="#">Discover</a>
			<a href="#">Themes</a>
			<a href="#">Go to map</a>
			<button class="butlogin">Login</button>
		</nav>
	</header>

    <div class="title">
		<h1>Jaipur</h1>
		<p>Welcome to the enchanting city of Jaipur, a jewel in the crown of Rajasthan, India. Known as the "Pink City" due to its stunning pink-hued architecture, Jaipur is a vibrant blend of history, culture, and modernity. From its majestic forts and palaces to its bustling markets and delectable cuisine, Jaipur offers a rich tapestry of experiences for every traveler. Join us on a journey through this mesmerizing destination, where tradition meets contemporary living, and where the past comes alive in a kaleidoscope of colors and flavors. Discover the magic of Jaipur, where every street corner tells a story, and every visit leaves an indelible mark on your heart.</p>
	</div>
	<div class="live-event">
		<span class="icon1"><ion-icon name="play"></ion-icon></ion-icon></span>
		<h2>Title</h2>
	</div>
	<div class="box-img">
		<div class="img img1"></div>
		<div class="img img2"></div>
		<div class="img img3"></div>
	</div>
	<div class="end"></div>

    <script src="/static/loginform.js"></script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>